Subject: [Klai] Je toegangsverzoek is goedgekeurd
<p>Hallo {{ name }},</p><p>Je toegangsverzoek voor Klai is goedgekeurd. Je kunt nu inloggen op je werkruimte:</p><p><a href='{{ workspace_url }}'>{{ workspace_url }}</a></p>